<footer class="bg-dark text-white fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="text-center">
        <h1 class="mt-4 fs-4 text-light text-center">@2023vidHub All Rights Reserved</h1
        </p>
      </div>
    </div>
  </div>
</footer>
